<div class="card p-0">
    <p-toolbar [style]="{'border-radius': '0rem','padding': '1rem 1rem 1rem 1.5rem', 'background': '#009640', 'margin': '0', 'min-width': '600px'}">
        <ng-template #start>
            <p-button class="p-button-rounded p-button-text" [raised]="true" [style]="{'background':'#009640'}" (onClick)="onTogglePanelMenu()">
                <i class="pi pi-bars" style="color: white"></i>
            </p-button>
            <img src="/images/logo-udenar-blanco.png" alt="Logo" class="h-28 mr-2"/>
            <div class="border-l-2 border- h-full mr-2"></div>
            <h1 style="font-weight:bold;color:#ffffff;">DATA ANALYSIS</h1>
        </ng-template>

        <!-- <ng-template #end>
            <img src="/images/logo-udenar-blanco.png" alt="Logo" class="h-28 mr-2"/>
            <div class="border-l-2 border-white h-full mr-2"></div>
            <h1 style="font-weight:bold;color:#ffffff;">Escuela de Auxiliares</h1>
        </ng-template> -->

        <!-- <ng-template #end>
            <div class="flex items-center gap-2">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" [style]="{ width: '32px', height: '32px' }" class="mr-1"/>
                <span [style]="{'color': 'white' }">usuario</span>
            </div>
        </ng-template> -->
    </p-toolbar>
</div>