@if (true) {
<div class="bg-white border-t border-gray-300 text-gray-700 z-50 h-5">
  <div class="container mx-auto flex justify-between items-center h-full">
    <!-- División al inicio -->
    <div class="flex items-center text-xs sm:text-sm">
      <span>&copy; 2025</span>
      <span class="mx-2">|</span>
      <span>DATALYSE</span>
    </div>

    <!-- División al centro -->
    <div class="text-center text-xs sm:text-sm">
      <span>All rights reserved</span>
    </div>

    <!-- División al final -->
    <div class="flex items-center text-xs sm:text-sm">
      <span>Powered by</span>
      <a target="_blank" class="text-blue-500 ml-1">Daniel Vallejos </a>
      ,
      <a target="_blank" class="text-blue-500 ml-1"> Cristian Paz</a>
    </div>
  </div>
</div>
}